.footer {
    text-align: center;
    padding: 30px;
    background-color: rgb(40, 40, 40);
    .mypage {
        color: white;
        margin: auto 10px;
    }
    .social {
        a { 
            font-size: 18px;
            color: white;
            i {
                margin: 20px 10px 10px 10px;
            }
        }
    }
}